

/* body {
  background-color: rgb(19, 19, 32);
  color: antiquewhite;
  width: 100vw;
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
} */

/* main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
} */